html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='apple-touch-fullscreen', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=320, initial-scale=1')
    meta(name='theme-color', content='#b0b0b0')
    meta(name='msapplication-navbutton-color', content='#b0b0b0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    title=t
  
    // link(href="" rel="shortcut icon" id='dynaIcon')
    // link(href="" rel="apple-touch-icon image_src" id='dynaAppleIcon')
    link(rel="stylesheet", id="dynaStyles")
    link(rel="stylesheet", id="templateStyle")
    link(rel='stylesheet', href=rs+'/build/css/m.build.min.css?v='+v)

    script(src=rs+"/plugins/socket.io/socket.io.js")
    script(src=rs+'/build/js/vendor.js?v='+v)
    script(async src="https://www.googletagmanager.com/gtag/js?id="+gTag)
    script.
      const rsPath = !{JSON.stringify(rs)};
      const userData = !{JSON.stringify(user)};
      const arsPath = !{JSON.stringify(ars)};
      const wsPath = !{JSON.stringify(ws)};
      const computedMaxPayout = !{JSON.stringify(computedMaxPayout)};
      const sversion = !{JSON.stringify(v)};
      const tableID = !{JSON.stringify(table)};
      const isSBO = true;
      const gID = !{JSON.stringify(gTag)};
    script.
        console.log('%c Dragon Tiger Multiplayer | v'+sversion+' ', 'background: #079776; color: #FAFF00;')

      //- <!-- Global site tag (gtag.js) - Google Analytics -->
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', gID);
  body
    div#svy-main

      include game/game_ui
      include game/blocking_orientation

    script(src=rs+'/build/js/game-build.min.js?v='+v)

